<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>  
<head>
<title>Shenpan microservice server</title>
<link rel="stylesheet" type="text/css" href="/static/shenpan/shenpan.css">
<style type="text/css">
</style>
</head>
<body>
<table border="0">
    <tr>
      <th><h1>Welcome to the Shenpan home page</h1></th>
      <th><img src="/static/shenpan/shenpan.jpg" alt="Shen-Pan" align="right" vspace="10" hspace="30" width="300"></th>
   </tr>
</table>
  
<p>Shenpan is a microservice server for making and documenting decisions when regularizing collations or enhancing document searches. It is currenty in pre-alpha.</p>

<p>This page concerns the software that you can download and run on your own server. If you just want to use our web tool, visit <a href="http://www.annotation.bham.ac.uk">annotation.bham</a>.
<p>Shenpan was started during the Interedtion Leuven bootcamp 2011.</p>
<h2>Links</h2>
<ul>
<li><a href="https://github.com/zeth/annotatey">Github page</a></li>
<li><a href="http://www.interedition.eu/wiki/index.php/RegularisationTool">Project wiki page</a></li>
</ul>
</body>
</html>
